  <div style="text-align:center;">
    <br>
    {{ if .NextInSection }} <a href="{{.NextInSection.Permalink}}">⟵</a> {{ end }} {{ if .PrevInSection }} <a href="{{.PrevInSection.Permalink}}">⟶</a> {{ end }}
  </div>
