<header>
    <h1>
        {{- .Title | markdownify -}}
    </h1>
    {{ partial "post_meta.html" . }}
</header>
<article>
  {{ .Content }}
</article>
<aside>
{{ partial "post_arrows.html" . }}
</aside>
