{{ define "main" }}

<header>
    <h1>
        {{- .Title | markdownify -}}
    </h1>
</header>
<article>
  {{ .Content }}
</article>
<br>
{{ range ( where .Site.RegularPages "Type" "posts" | first 3 ) }}
<div style="text-align:left;"><a href="{{ .Permalink }}">{{ .Title }}</a></div>
{{ end }}
{{ end }}
